body * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "IBM Plex Mono";
  color: black;
}
body {
  background: white;
}

.container {
  width: 95%;
}

h1, h1 > a {
  font-size: 48px;
}

h2 {
  font-size: 32px;
}

p {
  font-size: 20px;
}

a {
  font-size: 20px;
}

li > a {
  font-size: 32px;
}

@media (max-width: 564px) {

h1, h1 > a {
  font-size: 30px;
}

h2 {
  font-size: 22px;
}

p {
  font-size: 16px;
}

a {
  font-size: 16px;
}

li > a {
  font-size: 22px;
}

.header {
  min-height: 5rem;
  max-height: 10rem;
  height: 2.6rem;
}

}

body {
  display: flex;
  justify-content: center;
}

img {
  border-radius: 20px;
  box-shadow: 10px 10px 0 #aaaaaa;
}

.header {
  margin-top: 7px;
  margin-bottom: 7px;
  max-height: 10rem;
  display: flex;
  justify-content: space-between;
}

.header > header {
  flex-basis: 60%;
}

header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.header > nav {
  flex-basis: 39%;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

li.responsive-menu {
  display: none;
}

.activated {
  display: none;
}

@media (max-width: 900px) {
  li.responsive-menu {
    display: block;
    text-align: right;
  }
  nav > ul > li:not(:last-child) {
    display: none;
  }
  .activated {
    display: block;
  }
  .activated > ul{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    list-style: none;
  }
  .list > li {
    padding: .7rem;
    background: #aaaaaa80;
    border-radius: 20px;
  }
}

nav > ul {
  flex-basis: 95%;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

@media (min-width: 1554px) {
  nav > ul {
    flex-direction: row;
    justify-content: space-evenly;
  }
}

.main-content, .section-content {
  margin: 2rem 0;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 900px) {
  .main-content, .section-content {
    flex-direction: column;
  }
  .img-responsiv {
    flex-basis: none;
    max-width: 100%;
  }
  .image {
    order: 1;
    padding: 2rem;
  }
  .text {
    align-self: center;
    order: 2;
    max-width: 30rem;
  }
}

.text {
  padding: 1.5rem;
  flex-basis: 60%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.image {
  flex-basis: 39%;
  display: flex;
  justify-content: center;
}

.center {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border: 2px solid black;
  border-radius: 20px;
  box-shadow: 10px 10px 0 #aaaaaa, 4px 4px 10px #aaaaaa80 inset;
}

.center-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.end {
  display: flex;
  justify-content: flex-end;
}

.footer > footer {
  min-height: 10rem;
  display: flex;
  justify-content: space-between;
}

.media,
.info {
  padding: 1rem;
  flex-basis: 30%;
}

.media-piece {
  display: flex;
  justify-content: flex-start;
}

.media-piece2 {
  display: flex;
  justify-content: flex-end;
}


.media-piece > div,
.media-piece2 > div {
display: flex;
justify-content: center;
align-items: center;
flex-basis: 50%;
}

.media-piece > p,
.media-piece2 > p {
  text-align: center;
  flex-basis: 50%;
}

.smol-img {
  width: 50px;
  height: 50px;
}
p {
  display: inline;
  vertical-align: middle;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (max-width: 900px) {
  footer {
    flex-direction: column;
  }
}
