body * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "IBM Plex Mono";
  color: beige;
}
body {
  background: darkslategray;
}

h1 {
  font-size: 48px;
  text-shadow: 4px 4px 0 black;
}

h2 {
  font-size: 32px;
  text-shadow: 4px 4px 0 black;
}

p {
  font-size: 20px;
}

a {
  font-size: 20px;
  text-shadow: 2px 2px 0 black;
}

li > a {
  font-size: 32px;
}

body {
  display: flex;
  justify-content: center;
}

img {
  border-radius: 20px;
  box-shadow: 10px 10px 0 black;
}

.container {
  width: 95%;
}

.header {
  min-height: 10rem;
  display: flex;
  justify-content: space-between;
}

.header > header {
  flex-basis: 60%;
}

header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.header > nav {
  flex-basis: 39%;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav > ul {
  flex-basis: 95%;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}

.main-content {
  margin: 2rem 0;
  display: flex;
  justify-content: space-between;
}

.section-content {
  margin: 2rem 0;
  display: flex;
  justify-content: space-between;
}

.text {
  padding: 1.5rem;
  flex-basis: 60%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.image {
  flex-basis: 39%;
  display: flex;
  justify-content: center;
}

.center {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border: 2px solid beige;
  border-radius: 20px;
  box-shadow: 10px 10px 0 black, 4px 4px 10px rgba(0, 0, 0, 0.5) inset;
}

.center-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.end {
  display: flex;
  justify-content: flex-end;
}

.footer > footer {
  min-height: 10rem;
  display: flex;
  justify-content: space-between;
}

.media,
.info {
  padding: 1rem;
  flex-basis: 30%;
}

.media-piece {
  display: flex;
  justify-content: flex-start;
}

.media-piece2 {
  display: flex;
  justify-content: flex-end;
}

.media-piece > p,
.media-piece2 > p {
  text-align: center;
  flex-basis: 50%;
}

.smol-img {
  width: 50px;
  height: 50px;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
